*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-family: var(--ff);
font-size: 16px;
    color: var(--primary-clr);
}

:root {
   --ff:  font-family: 'Dosis', sans-serif;

   --fw-n: 400;
   --fw-b: 700;

    --primary-clr: #1e4040;
    --link-clr: #71d99e;
    --outer-header-clr: rgba(0, 31, 255, 0.5);
    --outer-nav-clr: rgba(0, 31, 255, 0.8);
    --outer-main-area: rgba(0, 31, 255, 0.2);

    --inner-main-clr: rgba(255, 122, 0);
    --inner-aside-clr: rgba(225, 122, 0, 0.4);
    --inner-footer-clr: rgba(225, 122, 0, 0.7);
}
header,footer {
    background-color: var(--primary-clr);
    color: var(--link-clr);
}
a {
    color: var(--link-clr);
}
h1,h2,h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 15px;
}
main, aside {
    padding: 20px 5%;
}
img {
    border-radius: 5px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}
/* Outer Grid **********/
.outer-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "al-header al-header"
    "al-inner-grid al-inner-grid";
    
}

.outer-grid-navDisplay {
    grid-template-areas: 
    "al-header al-header"
    "al-nav al-inner-grid";
}

.hide-nav {
    display: none;
}

/* Header **********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    grid-area: al-header;
}
.left-header {
    display: flex;
    align-items: center;
}

header .fa-bars {
    margin-right: 10px;

}
header .fa-bars:hover {
    cursor: pointer;
    opacity: 0.8;
}

.right-header {
    display: flex;
}
.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.header-link i {
    font-size: 0.8rem;


}
.logo {
    margin: 0 auto;
    }

/* Nav bar **********/
nav {
    grid-area: al-nav;
    padding-top: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.nav-link a {
    color: var(--primary-clr);
    text-decoration: none;
}
.nav-link:hover {
    cursor: pointer;
    opacity: 0.8;
    
}

aside {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Inner Grid **********/

.inner-grid {
    overflow-y: scroll;
    grid-area: al-inner-grid;
    display: grid;
    grid-template-rows: 1fr auto 60px;
    grid-template-columns:  1fr;
    grid-template-areas: 
    "al-main al-main"
    "al-aside al-aside"
    "al-footer al-footer";
    
}

main {
grid-area: al-main;


}

aside {
    grid-area: al-aside;
    
   
}
/* Footer **********/

footer {
    grid-area: al-footer;
   display: flex;
   justify-content: center;
   align-items: center;
}
footer p {
    color: white;
    margin: 0;
}
/* Mosaic Layout **********/

.collage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px 1fr 40px 1fr;
    height: 550px;
    align-items: center;
}
.collage > * {
    grid-row: 1;
    grid-row-end: 2;
}

.collage-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 1;
    transform: rotate(-4deg);
}
.collage-2 {
    grid-column-start: 2;
    grid-column-end: 5;
    z-index: 999;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.7);
}

.collage-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    z-index: 1;
    transform: rotate(4deg);
}


/* Media **********/

@media (min-width: 576px) {
    nav {
        display: block !important;
    }
    .outer-grid {
        grid-template-areas: 
        "al-header al-header"
        "al-nav al-inner-grid";
    }
      header .fa-bars {
        display: none;
        
    }
}

@media (min-width: 992px) {
    .inner-grid {
   
    grid-template-rows: 1fr 60px;
    grid-template-columns: minmax(auto, 700px) 1fr;
    grid-template-areas: 
    "al-main al-aside"
    "al-footer al-footer";
    
    }
    aside {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    
}

@media (min-width: 1440px) {
    .outer-grid {
        grid-template-columns: 1fr 950px 1fr;
        grid-template-areas: 
        "al-header al-header al-header"
        "al-nav al-inner-grid al-inner-grid";
    }
    header {
        display: grid;
        grid-template-columns: 1fr 950px 1fr;
        grid-template-areas: "al-leftH . al-rightH";
   

    }
    .left-header {
        grid-area: al-leftH;
        justify-self: end;

    }
    .right-header {
        grid-area: al-rightH;
        justify-self: start;
    }
    nav {
        display: flex !important;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 15px;
    }
}