*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-family: var(--ff);
font-size: 16px;
    color: var(--primary-clr);
}

:root {
   --ff:  font-family: 'Dosis', sans-serif;

   --fw-n: 400;
   --fw-b: 700;

    --primary-clr: #1e4040;
    --link-clr: #71d99e;
    --outer-header-clr: rgba(0, 31, 255, 0.5);
    --outer-nav-clr: rgba(0, 31, 255, 0.8);
    --outer-main-area: rgba(0, 31, 255, 0.2);

    --inner-main-clr: rgba(255, 122, 0);
    --inner-aside-clr: rgba(225, 122, 0, 0.4);
    --inner-footer-clr: rgba(225, 122, 0, 0.7);
}
header,footer {
    background-color: var(--primary-clr);
    color: var(--link-clr);
}
a {
    color: var(--link-clr);
}

/* Outer Grid **********/
.outer-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "al-header al-header"
    "al-inner-grid al-inner-grid";
    
}

.outer-grid-navDisplay {
    grid-template-areas: 
    "al-header al-header"
    "al-nav al-inner-grid";
}

.hide-nav {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    grid-area: al-header;
}
.left-header {
    display: flex;
    align-items: center;
}

header .fa-bars {
    margin-right: 10px;
}
header .fa-bars:hover {
    cursor: pointer;
    opacity: 0.8;
}

.right-header {
    display: flex;
}
.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.header-link i {
    font-size: 0.8rem;
}
nav {
    background-color: var(--outer-nav-clr);
    grid-area: al-nav;
}
/* Inner Grid **********/

.inner-grid {
    overflow-y: scroll;
    background-color: var(--outer-main-area);
    grid-area: al-inner-grid;
    display: grid;
    grid-template-rows: 1fr auto 60px;
    grid-template-columns:  1fr;
    grid-template-areas: 
    "al-main al-main"
    "al-aside al-aside"
    "al-footer al-footer";
    
}

main {
grid-area: al-main;
background-color: var(--inner-main-clr);

}

aside {
    grid-area: al-aside;
    background-color: var(--inner-aside-clr);
   
}

footer {
    grid-area: al-footer;
   
}

/* Media **********/

@media (min-width: 576px) {
    nav {
        display: block !important;
    }
    .outer-grid {
        grid-template-areas: 
        "al-header al-header"
        "al-nav al-inner-grid";
    }
      header .fa-bars {
        display: none;
        
    }
}

@media (min-width: 992px) {
    .inner-grid {
   
    grid-template-rows: 1fr 60px;
    grid-template-columns: minmax(auto, 700px) 1fr;
    grid-template-areas: 
    "al-main al-aside"
    "al-footer al-footer";
    
    }
    
}

@media (min-width: 1440px) {
    .outer-grid {
        grid-template-columns: 1fr 950px 1fr;
        grid-template-areas: 
        "al-header al-header al-header"
        "al-nav al-inner-grid al-inner-grid";
    }
    header {
        display: grid;
        grid-template-columns: 1fr 950px 1fr;
        grid-template-areas: "al-leftH . al-rightH";
   

    }
    .left-header {
        grid-area: al-leftH;
        justify-self: end;

    }
    .right-header {
        grid-area: al-rightH;
        justify-self: start;
    }
    
}